<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>nav</title>
</head>

<body>
    <header>
        <h1>Bienvenido a mi página de prueba</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../pages/about.html">Acerca de</a></li>
                <li><a href="../pages/services.html">Servicios</a></li>
                <li><a href="../pages/contact.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>